{% extends 'base.html' %}

{% block main_content %}
    <div class="row">
        <h1>Tea Club - Team 6</h1>
    </div>

    <div class="row">
        <h2>Coffers</h2>

        <h3>{{ tea_coffers }}</h3>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1 panel panel-danger">
            <h2>Members</h2>

            <form method="POST" action="/members/add_member">
                <input name="member_text" id="id_new_member" class="form-control input-lg"
                       style="margin-bottom: 2ex;" placeholder="Enter new member name">
                {% csrf_token %}
            </form>

            <table id="id_members_table" class="table">
                {% for member in members %}
                    <tr>
                        <td>{{ member.name }}</td>

                        {% if member.paid == True %}
                            <td style="color: green;">Paid</td>
                        {% else %}
                            <td style="color: red;">Unpaid</td>
                        {% endif %}

                        <td><a href="/members/{{ member.id }}/collect">Collect</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-4 col-md-offset-2 panel panel-danger">
            <h2>Supplies</h2>

            <form method="POST" action="/supplies/add_supply">
                <input name="supply_text" id="id_new_supply" class="form-control input-lg"
                       style="margin-bottom: 2ex;" placeholder="Enter new supply">
                {% csrf_token %}
            </form>

            <table id="id_supplies_table" class="table">
                {% for supply in supplies %}
                    <tr>
                        <td>{{ supply.name }}</td>

                        {% if supply.stocked == True %}
                            <td style="color:green;">In Stock</td>
                        {% else %}
                            <td style="color:red;">Out Of Stock</td>
                        {% endif %}

                        <td><a href="/supplies/{{ supply.id }}/purchase">Purchase</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <button type="button" class="btn" data-toggle="modal" data-target="#collection_modal">Start new collection
            </button>
        </div>
    </footer>

    <div id="collection_modal" class="modal fade" role="dialog">
        <div class="modal-sm modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Collection</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="members/new_collection" id="collection_form">
                        <div class="input-group">
                            <span class="input-group-addon">£</span>
                            <input name="collection_amount" id="id_collection_amount" class="form-control input-sm"
                                   placeholder="Enter amount per person">
                        </div>
                    </form>
                    <button type="submit" form="collection_form" value="Submit" class="btn" style="margin-top:2ex;">Submit</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}